* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/backgrounds/sample.jpg');
}

#renderCanvas{
    width: 100%;
    height: 100%;
}