* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

*:active, *:focus {
    outline: 0;
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    cursor: url(../assets/images/gui/cursor2.png), pointer;
}

.renderCanvas{
    width: 100%;
    height: 100%;
    position: relative;
}

video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.openTabletButton {
    width: 150px;
    height: 100px;
    border: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.openTabletButton--active::after {
    content: "!";
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 55px;
    font-weight: bold;
    color: rgb(250, 236, 47);
    visibility: visible;
}

.tabletBG,
.inventoryBG {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.4);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skipButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(255,255,255);
    background-color: transparent;
    color:  rgb(255,255,255);
    font-weight: bold;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.inventoryButton{
    width: 80px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.tablet,
.questSection,
.settingSection,
.catalogSection {
    width: 75%;
    height: 90%;
    margin: auto;
    border: 10px solid rgb(10, 10, 10);
    border-radius: 20px;
    background: linear-gradient(to right, rgba(23, 23, 29, 0.6), rgba(219, 217, 218,.3));
    box-shadow: 0 0 0 10px rgb(255,255,255);
    display: none;
    justify-content: center;
    align-content: center;
    position: relative;
}

.inventory-conteiner {
    width: 75%;
    height: 90%;
    margin: auto;
    border: 10px solid rgb(10, 10, 10);
    border-radius: 20px;
    background: linear-gradient(to right, rgba(23, 23, 29, 0.6), rgba(219, 217, 218,.3));
    box-shadow: 0 0 0 10px rgb(255,255,255);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    position: relative;
    background-position: bottom right;
    background-size: 500px;
    background-repeat: no-repeat;
}

.tablet {
    flex-direction: row;
    flex-wrap: wrap;
}

.questSection,
.settingSection,
.catalogSection {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}

.tablet_button{
    width: 90px;
    height: 90px;
    margin: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(255,255,255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
    background-color: transparent;
    transition: 0.3s;
    &:hover{
        box-shadow: none;
        border: 1px solid rgb(255,255,255);
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.closeButton {
    position: absolute;
    top: -30px;
    right: 10px;
}

.closeInventoryButton {
    position: absolute;
    top: -40px;
    right: -20px;
}

.backButton {
    position: absolute;
    top: -30px;
    left: 10px;
}

.questConsteiner {
    width: 80%;
    height: 80px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px (rgb(255,255,255));
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
    background-color: rgba(147, 160, 189, 0.5);
    &:hover {
        box-shadow: none;
        border: 1px solid rgb(7, 10, 19);
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.questTitle {
    width: 90%;
    height: 100%;
    margin: auto 0;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: rgb(255,255,255);
}

.quest--complete {
    box-shadow: none;
    text-shadow: none;
    background-color: rgba(68, 110, 49, 0.5);
    &::after {
        content: "";
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../assets/images/gui/quest_done.png");
        background-position: center;
        background-size: 60px;
        background-repeat: no-repeat;
    }
}

.questNotice,
.popup {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.2;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
    z-index: 10;
    background-color: rgba(94, 113, 126, 0.4);
}

//--------quest description ----------------//

.questDescription_conteiner {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px 2px rgb(210, 210, 224);
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
    z-index: 20;
}

.questDescription_name {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid rgb(255,255,255);
}

.questDescription {
    width: 100%;
    height: calc(100% - 140px);
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 24px;
    text-align: left;
}

.questReward {
    width: 100%;
    height: 50px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.description_close-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

//---------------setting section----------------------//

.savegame-button,
.exit-button {
    width: 80%;
    height: 80px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255,255,255);
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px 2px (rgb(255,255,255));
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
    background-color: rgba(147, 160, 189, 0.5);
    &:hover {
        box-shadow: none;
        border: 1px solid rgb(7, 10, 19);
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.savegame-button {
    visibility: hidden;
}

//------------------catalog section-------------//

.catalog_slider {
    width: 100%;
    min-width: 350px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

.planetSection {
    width: 220px;
    height: 220px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(147, 160, 189, 0.5);
    transition: 0.3s;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
        transform: scale(1.05);
        box-shadow: 0 0 20px 2px (rgb(255,255,255));
    }
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.planetSection_image {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.planetSection_count {
    width: 90%;
    height: 20%;
    font-size: 28px;
    font-weight: bold;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
    text-align: center;
}

.planetSection_name {
    width: 90%;
    height: 10%;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
    text-align: center;
}

.catalog_pagination {
    width: 50%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.countPagination {
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.countPaginationItem {
    width: 20px;
    height: 20px;
    margin: auto 10px;
    border-radius: 20px;
    border: 1px solid rgb(210, 210, 224);
}

.paginationItem--active {
    border: 3px solid rgb(210, 210, 224);
}

.catalog_button {
    border: none;
    box-shadow: 0 0 5px 2px rgb(255,255,255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-color: transparent;
    transition: 0.3s;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.catalog_left-button {
    width: 40px;
    height: 40px;
    margin: auto;
}

.catalog_right-button {
    width: 40px;
    height: 40px;
    margin: auto;
}

.itemsConteiner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 15;
}

.button-closeData{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: transparent;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.itemCard {
    width: 150px;
    height: 200px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px (rgb(255,255,255));
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
        transform: scale(1.05);
        box-shadow: 0 0 20px 2px (rgb(255,255,255));
    }
}

.itemDescription {
    width: 60%;
    min-width: 350px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgba(147, 160, 189, 0.5);
}

.itemDescription_image {
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.itemDescription_text {
    width: 60%;
    height: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 2px rgb(12, 6, 39);
}


.item_name {
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
}

.item_description,
.item_usage,
.item_drop {
    width: 100%;
    height: 60%;
    text-align: left;
    font-size: 28px;
}

/*---------------------------inventory---------------------------*/ 

.inventory_item {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 1px rgb(255,255,255);
    background-color: transparent;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &:hover {
        cursor: url(../assets/images/gui/cursor_point.png), pointer;
    }
}

.inventory_item-count {
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255,255,255);
    background-color: transparent;
    position: absolute;
    top: 75px;
    left: 70px;
}

.dropItem-name {
    position: absolute;
    top: 5px;
    left: 35px;
    width: auto;
    height: auto;
    color: rgb(255,255,255);
    visibility: hidden;
}
.dropItem-name--show {
    visibility: visible;
}

.unknown_planet,
.unknown_item {
    filter: brightness(50%);
    &:hover {
        transform: none;
    }
}

.section--hidden {
    display: none;
}

.section--visible {
    display: flex;
}

.quest--hidden {
    visibility: hidden;
    position: relative;
    top: 50%;
}

.backButton--hide {
    visibility: hidden;
}

.backButton--show {
    visibility: visible;
}

